CMakeCache.txt
*.cmake
CMakeFiles
Makefile
test_game
swig.cpp
arg3game
Testing
*~
*.o
*.lo
*.la
*.cache
*.log
.deps
stamp-h1
.libs
game_test
*.status
libtool
config.h
*.tmp
*.dylib
gameclient
debug
release
